doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="icon" type="image/svg+xml" href="/favicon.svg")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title tsl-experiments
    link(rel="stylesheet" href="/src/style.css")
    block head
  body
    nav
      a(href="/") Home

    main
      block content

    script(type="module" src="/src/main.js")
