doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(rel="icon" type="image/svg+xml" href="/favicon.svg")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title tsl-experiments
    link(rel="stylesheet" href="/src/style.css")
    block head
  body
    button.nav-toggle(popovertarget="nav-drawer" aria-label="Open navigation")
      span
      span
      span

    nav#nav-drawer(popover)
      a(href="/") Home
      each page in pages
        a(href=page.href)= page.title

    main
      block content

    script(type="module" src="/src/main.js")
